.PodcastDetailContainer {
  display: flex;
}

.PodcastGeneraInfo {
  flex: 1 0 20%;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  height: 400px;
  margin-top: 100px;
  margin-left: 50px;
  position: relative;
  max-width: 300px;
  text-align: center;
}

.PodcastGeneraInfo img {
  padding-top: 50px;
}

.EpisodesListContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.EpisodesNumber {
  flex: 0.2;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  height: 50px;
  margin-top: 100px;
  margin-left: 50px;
  position: relative;
  text-align: left;
  display: flex;
}

.EpisodesNumber span {
  vertical-align: middle;
  font-weight: 900;
  font-size: 1.5rem;
  padding-left: 10px;
  padding-top: 1%;
}

.EpisodesList {
  flex: 1;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  margin-top: 10px;
  margin-left: 50px;
  position: relative;
  text-align: left;
  display: flex;
}